<!DOCTYPE html>
    <head>
        <title>
            Help
        </title>
        <link rel="stylesheet" href="{{style}}" />
    </head>
    <body>
        <div class="container">
            {{>header}}
            <h1>{{msg}}</h1>
        </div> 
        {{>footer}}
    </body>
</html>
