<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="container">
            {{>header}}
            
            <p>
                This site was created by Edgar Chan. It uses data from mapbox.com and darksky.net 
            </p>
        </div> 
        {{>footer}}
    </body>
</html>